# Env files
env/
venv/
ENV/
.env
.venv
.env.local
.env.*.local

# Python env
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Build outputs
/build/
/dist/
installer/
*.exe
/installer/
/*.exe
/*.spec
*.onefile-build/
*.cmd
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.out

# Logs
/logs/*
!/logs/.gitkeep

# Dependencies, virtual envs
**/node_modules/
**/__pycache__/
**/.pytest_cache/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temp
*.bak
*.tmp
*.temp
~*

# Test
.coverage
coverage/
htmlcov/
.tox/