# Env files
env/
venv/
ENV/
.env
.venv
.env.local
.env.*.local

# Python env
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Build outputs
/build/
/dist/
/*.spec
/installer_output/

# Logs
/logs/*
!/logs/.gitkeep

# Build files
*.build/
*.dist/
*.onefile-build/
*.cmd